.countdown {
  composes: fade-in from global;

  position: absolute;
  right: 20px;
  bottom: 64px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  text-align: right;
  color: #e6e6e6;
  width: 160px;
  user-select: none;
  transition: var(--default-transition);
  z-index: 1;
}

:global(.volume-range-active) .countdown,
:global(.trial-suggestion) .countdown {
  display: none;
}

@media (max-width: 599px) {
  .countdown {
    font-size: 12px;
    left: 16px;
    text-align: left;
    width: 40%;
    height: 32px;
    display: flex;
    align-items: center;
  }

  :global(.unmute-button.mobile) .countdown {
    bottom: 104px;
  }

  :global(.fullscreen) .countdown {
    bottom: 72px;
  }

  :global(.unmute-button.mobile.fullscreen) .countdown {
    bottom: 120px;
  }
}

@media (max-width: 599px) and (max-height: 400px) {
  :global(.unmute-button.mobile) .countdown {
    display: none;
  }
}
