.playback {
  cursor: pointer;
  margin: 0 105px;
  user-select: none;
}

.icon {
  composes: fade-in from global;
  width: var(--xl-icon-size);
  height: var(--xl-icon-size);
}

@media (max-width: 599px) {
  .playback {
    margin: 0 76px;
  }

  .icon {
    width: var(--m-icon-size);
    height: var(--m-icon-size);
  }
}
