.vjs-text-track-display,
.vjs-control-bar,
.vjs-loading-spinner,
.vjs-big-play-button,
.vjs-modal-dialog {
  display: none;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

#root {
  background: #000;
}

#root,
.player-manager,
#video-player,
#video-player_html5_api {
  width: 100%;
  height: 100%;
}

.controls {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 15;
}

.ad-notify,
.auto-switch {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 15;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-screen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.splash-screen img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #000;
}

.network-notify {
  position: fixed;
  top: 0px;
  z-index: 1000;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6px 0;
  opacity: 0;
  pointer-events: none;
}

.network-notify button {
  pointer-events: all;
  margin-left: 10px;
}

.network-notify.offline {
  opacity: 1;
  background-color: #ff3b30;
}

.network-notify.rejected {
  background-color: #808080;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.network-notify.online {
  background-color: #4cd964;
  animation: hide 0.3s ease forwards;
  animation-delay: 3s;
  pointer-events: none;
  opacity: 1;
}

.favourites {
  position: absolute;
  right: 0;
  top: 0;
}
