:root {
  --font-default: 'SFProDisplay', Helvetica, Arial, sans-serif;

  --border-radius-h32: 12px;
  --border-radius-h40: 14px;
  --border-radius-h54: 18px;

  --default-transition: 0.15s ease;
  --icon-opacity: 0.87;
  --text-color-87: rgba(255, 255, 255, 0.87);
  --text-color-38: rgba(255, 255, 255, 0.38);
  --text-color-12: rgba(255, 255, 255, 0.12);
  --hover-btn-border-radius: 12px;

  --white-10: rgba(255, 255, 255, 0.1);

  --xs-icon-size: 18px;
  --s-icon-size: 24px;
  --m-icon-size: 32px;
  --l-icon-size: 36px;
  --xl-icon-size: 40px;
  --xxl-icon-size: 48px;

  --z-index-overlay: 10;
  --overlay-background: rgba(14, 14, 14, 0.9);
  --modal-background: #141414;

  --ad-primary-color: #ce2226;
}

.theme-ctc,
.theme-ctc-love,
.theme-home,
.theme-che,
.theme-ctc-kids {
  --font-default: 'CTCSans';
  --text-weight: 800;
  --text-transform: uppercase;
}

.theme-vm,
.theme-default,
.theme-more-tv {
  --font-default: 'Montserrat';
  --primary-color: #21a4f7;
  --secondary-color: #1b1b1b;
  --primary-text-color: #fff;
  --color-invert: 0;
  --text-weight: 600;
  --text-transform: none;
}

.theme-ctc {
  --primary-color: #fed444;
  --secondary-color: #1b1b1b;
  --primary-text-color: #000;
  --color-invert: 1;
}

.theme-ctc-love {
  --primary-color: #ea0d8c;
  --secondary-color: #1b1b1b;
  --primary-text-color: #fff;
  --color-invert: 0;
}

.theme-home {
  --primary-color: #d5275e;
  --secondary-color: #1b1b1b;
  --primary-text-color: #fff;
  --color-invert: 0;
}

.theme-che {
  --primary-color: #ed0e0e;
  --secondary-color: #1b1b1b;
  --primary-text-color: #fff;
  --color-invert: 0;
}

.theme-ctc-kids {
  --primary-color: #fed444;
  --secondary-color: #1b1b1b;
  --primary-text-color: #000;
  --color-invert: 1;
}
