.logo {
  margin-right: 20px;
  user-select: none;
}

.logo img {
  max-width: 150px;
}

@media (max-width: 1024px) {
  .logo img {
    max-width: 120px;
  }
}

@media (max-width: 599px) {
  .logo img {
    max-width: 90px;
  }
}
