doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Editor Player

    body(class="private-player")
        script(type="text/javascript").
            window.mediaFile = <%- JSON.stringify(data) %>;
            window.meta = <%- JSON.stringify(meta) %>;
        video(id="my-player" class="video-js" playsinline webkit-playsinline)
        div#error-manager