.backward,
.forward {
  cursor: pointer;
  position: relative;
  color: #fff;
  opacity: var(--icon-opacity);
  transition: var(--default-transition);
  user-select: none;
}

.backward:hover,
.forward:hover {
  opacity: 1;
}

.backward img,
.forward img {
  width: var(--xl-icon-size);
  height: var(--xl-icon-size);
}

.acc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 600;
  line-height: 1.23;
  top: -25px;
  white-space: nowrap;
}

@media (max-width: 599px) {
  .backward img,
  .forward img {
    width: var(--l-icon-size);
    height: var(--l-icon-size);
  }
}
