.adult {
  composes: fade-in from global;
}

:global(.wrapper:not(.embedded).theme-more-tv) .adult {
  display: none;
}

.title {
  margin: 10px 0 17px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.wrapper img {
  width: var(--xl-icon-size);
  height: var(--xl-icon-size);
}

.hidden {
  display: none;
}

.group {
  display: flex;
  position: absolute;
  top: 100%;
}

:global(.wrapper:not(.theme-more-tv)) .agree,
:global(.wrapper:not(.theme-more-tv)) .disagree {
  width: 220px;
  padding: 12px 20px 10px;
}

:global(.wrapper:not(.theme-more-tv)) .disagree {
  color: #fff;
}
