.resume {
  composes: fade-in from global;
}

.agree,
.disagree {
  width: 187px;
  padding: 9px 0;
}

:global(.wrapper:not(.theme-more-tv)) .agree,
:global(.wrapper:not(.theme-more-tv)) .disagree {
  width: 220px;
  padding: 12px 20px 10px;
}

:global(.wrapper:not(.theme-more-tv)) .disagree {
  color: #fff;
}

@media (max-width: 599px) {
  .agree,
  .disagree {
    width: 200px;
  }
}
