doctype html
html
    meta(charset="UTF-8")
    head
        script(type="text/javascript")
            | <%- FRAME_SRC %> 

    body
        .player-container
            .player-container__bottom-indent
