.volume {
  composes: btn-hover from global;

  position: absolute;
  left: 12px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 8px 8px;
  pointer-events: none;
  user-select: none;
}

:global(.mobile) .volume {
  display: none;
}

.volume::before {
  padding: 0;
}

.volume :global .range-input {
  height: 88px;
  width: 6px;
  opacity: 0;
  transition: var(--default-transition);
}

.volume:hover {
  pointer-events: all;
}

.volume.dragging::before,
.volume:hover::before {
  opacity: 1;
}

.volume.dragging :global .range-input,
.volume:hover :global .range-input {
  opacity: 1;
}

.mute-button {
  composes: icon from global;
  z-index: 1;
  margin-top: 12px;
  pointer-events: all;
  transform: translate(2px, 0);
  opacity: var(--icon-opacity);
}

.unmute-button {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  opacity: var(--icon-opacity);
  transition: var(--default-transition);
  position: absolute;
  left: 16px;
  bottom: 18px;
  z-index: 1;
}

.label {
  position: absolute;
  left: calc(100% + 14px);
  font-size: 10px;
  font-weight: 700;
  white-space: nowrap;
  color: var(--text-color-87);
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 0.71px;
  opacity: 0;
  transition: var(--default-transition);
  pointer-events: none;
}

:global(.mobile) .label {
  opacity: 1;
}

:global(.controls-hidden) .label {
  opacity: 1;
}

:global(.mobile) .unmute-button {
  bottom: 64px;
}

.unmute-button {
  width: var(--l-icon-size);
  height: var(--l-icon-size);

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border-radius: 100%;
}

.unmute-button img {
  width: var(--s-icon-size);
  height: var(--s-icon-size);
  transform: translateX(2px);
}

:global(.wrapper:not(.theme-more-tv)) .unmute-button img {
  filter: invert(1);
}

.unmute-button:hover {
  opacity: 1;
}

.volume :global .range-input-thumb {
  background: var(--primary-color);
}

.volume :global .range-input-track {
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 599px) {
  .unmute-button,
  .unmute-button img {
    width: var(--m-icon-size);
    height: var(--m-icon-size);
  }

  .unmute-button {
    bottom: 14px;
  }

  :global(.mobile) .unmute-button {
    bottom: 46px;
  }
}
