.volume {
  composes: btn-hover from global;

  position: absolute;
  left: 12px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 8px 8px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

:global(.mobile) .volume {
  display: none;
}

.volume::before {
  padding: 0;
}

.volume :global .range-input {
  height: 88px;
  width: 6px;
  opacity: 0;
  transition: var(--default-transition);
}

.volume:hover {
  pointer-events: all;
}

.volume.dragging::before,
.volume:hover::before,
.volume.dragging .mute-button {
  opacity: 1;
}

.volume.dragging :global .range-input,
.volume:hover :global .range-input {
  opacity: 1;
}

.mute-button {
  composes: icon from global;
  margin-top: 12px;
  pointer-events: all;
  transform: translate(2px, 0);
  opacity: var(--icon-opacity);
}

.unmute-button {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  opacity: var(--icon-opacity);
  transition: var(--default-transition);
  position: absolute;
  left: 16px;
  bottom: 18px;
}

.label {
  position: absolute;
  left: calc(100% + 14px);
  font-size: 10px;
  font-weight: 700;
  white-space: nowrap;
  color: var(--text-color-87);
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 0.71px;
  opacity: 0;
  transition: var(--default-transition);
  pointer-events: none;
}

:global(.mobile) .label {
  opacity: 1;
}

:global(.controls-hidden) .label {
  opacity: 1;
}

:global(.mobile) .unmute-button {
  bottom: 64px;
}

.unmute-button {
  width: var(--l-icon-size);
  height: var(--l-icon-size);

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border-radius: 100%;
}

:global(.trial-suggestion-before-pauseroll) .unmute-button {
  opacity: 0;
}

.unmute-button img {
  width: var(--s-icon-size);
  height: var(--s-icon-size);
  transform: translateX(2px);
}

.unmute-button:hover {
  opacity: 1;
}

.volume :global .range-input-thumb {
  background: var(--primary-color);
}

.volume :global .range-input-track {
  background-color: rgba(255, 255, 255, 0.4);
}

:global(.wrapper:not(.mobile).controls-theme-trailer) .label {
  opacity: 0;
}

:global(.wrapper:not(.theme-more-tv)) .unmute-button img {
  filter: invert(var(--color-invert));
}

:global(.wrapper:not(.theme-more-tv):not(.theme-ctc)) .unmute-button {
  border-radius: 18px;
  width: 136px;
  height: 36px;
}

:global(.wrapper.mobile:not(.theme-more-tv):not(.theme-ctc)) .unmute-button {
  border-radius: 20px;
  width: 146px;
  height: 40px;
}

:global(.theme-default) .unmute-button,
:global(.theme-vm) .unmute-button {
  width: 156px !important;
}

:global(.wrapper:not(.theme-more-tv):not(.theme-ctc)) .unmute-button .label {
  opacity: 1;
  position: relative;
  left: 0;
  display: block;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0.71px;
}

@media (max-width: 599px) {
  .volume {
    bottom: 8px;
  }

  .unmute-button {
    width: var(--m-icon-size);
    height: var(--m-icon-size);
  }
  .unmute-button img {
    width: var(--xs-icon-size);
    height: var(--xs-icon-size);
  }

  .unmute-button {
    bottom: 12px;
  }

  :global(.mobile) .unmute-button {
    bottom: 54px;
  }

  :global(.fullscreen) .volume {
    bottom: 24px;
  }

  :global(.fullscreen) .unmute-button {
    bottom: 28px;
  }

  :global(.fullscreen.mobile) .unmute-button {
    bottom: 72px;
  }

  :global(.wrapper:not(.theme-more-tv):not(.theme-ctc)) .unmute-button {
    border-radius: 16px;
    height: 32px;
  }

  :global(.wrapper.mobile:not(.theme-more-tv):not(.theme-ctc)) .unmute-button {
    width: 135px;
    height: 32px;
  }

  :global(.wrapper:not(.theme-more-tv):not(.theme-ctc)) .unmute-button img {
    transform: translate(-2px, -0.5px);
  }
}
