.wrapper {
  composes: btn-hover from global;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 24px;
  z-index: 1;
}

.wrapper img {
  width: var(--s-icon-size);
  height: var(--s-icon-size);
}
