.wrapper {
  composes: fade-in from global;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  right: 24px;
  bottom: 71px;
  padding: 32px;
  border-radius: 24px;
  background-color: rgba(20, 20, 20, 0.8);
  user-select: none;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: var(--default-transition);
  z-index: 5;
  opacity: 0;
  pointer-events: none;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
  padding: 5px;
  transition: var(--default-transition);
  opacity: 0.6;
}

.close:hover {
  opacity: 1;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  color: #e6e6e6;
  margin-bottom: 32px;
}

.group {
  display: flex;
}

.cancel-btn,
.start-btn {
  font-size: 12px;
  font-weight: 600;
  border-radius: 14px;
}

.cancel-btn {
  padding: 12px 19px;
  margin-right: 24px;
}

.start-btn {
  position: relative;
  background-color: #2b2b2b;
  padding: 12px 45px 12px 19px;
}

.start-btn::after {
  content: '';
  position: absolute;
  top: 0;
  right: 19px;
  width: 20px;
  height: 100%;
  background: url('assets/icons/icons-24-next-track.svg') no-repeat center center;
  background-size: contain;
}

@media (max-width: 599px) {
  :global(.wrapper:not(.embedded):not(.fullscreen)) .container {
    display: none;
  }

  .wrapper {
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 556px;
    width: 100%;
    margin: 0 auto;
    z-index: 6;
    padding: 24px;
  }

  .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .title {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .description {
    font-size: 13px;
    margin-bottom: 24px;
    color: #c6c6c6;
  }

  .description br {
    display: none;
  }

  .wrapper {
    border-radius: 5px 5px 0 0;
    background-color: #2b2b2b;
  }

  .start-btn {
    background-color: #404040;
  }

  .cancel-btn {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .group {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .close {
    top: -14px;
    right: 8px;
    width: 28px;
    height: 28px;
    padding: 6px;
    box-sizing: border-box;
    background-color: #404040;
    border-radius: 100%;
    opacity: 1;
  }
}
